body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
}

nav:first-child {
  float: left;
}

nav a {
  padding: 0.1em;
  background-color: wheat;
  color: maroon;
  border: solid black;
  border-radius: 0.5em;
  padding: 0.4em;
  border-width: 0 0.1em 0.1em 0;
  margin: 0.1em 0 0 0.1em;
  text-decoration: none;
}

nav a:hover {
  background-color: white;
}

nav a:active {
  border-width: 0.1em 0 0 0.1em;
  margin: 0.1em 0 0 0.1em;
}
