<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?" />
    <title>{{page.title}} | Abigail JC</title>
    <link rel="stylesheet" href="/styles/main.css" />
    {% if content contains "pre" %}
    <link rel="stylesheet" href="/styles/code.css" />
    {% endif %} {% for script in page.scripts %}
    <script type="text/javascript" src="/scripts/{{script}}.js"></script>
    {% endfor %} {% for style in page.styles %}
    <link rel="stylesheet" href="/styles/{{style}}.css" />
    {% endfor %}
  </head>
  <body>
    <nav>
      <a href="/" class="button">Home</a>
      <a href="/projects" class="button">Projects</a>
      <a href="/posts" class="button">Posts</a>
      <a href="/tools" class="button">Tools</a>
      <!-- <a href="/games" class="button">Games</a> -->
    </nav>
    <section
      {%
      if
      page.sectionClassName
      %}class="{{page.sectionClassName}}"
      {%
      endif
      %}
    >
      {% if page.title %}
      <h1>{{ page.title }}</h1>
      {% endif %} {{ content }}
      <footer>
        Crab icon &copy;2020 Twitter, Inc and other contributors. Licensed under
        CC-BY 4.0
      </footer>
    </section>
  </body>
</html>
