/* Code blocks */
pre {
  overflow-x: scroll;
  padding-bottom: 1em;
  background-color: black;
  border-radius: 1em;
  padding: 1em;
}

pre code {
  color: white;
}

/* Name of a Class */
code span.nc {
  color: lightgreen;
}

/* Operator/Punctuation */
code span.o {
  color: slategray;
}

/* String literal */
code span.s {
  color: orange;
}

/* function name */
code span.nf {
  color: lightgoldenrodyellow;
}

/* variable name */
code span.n,
code span.na {
  color: skyblue;
}

/* number literal */
code span.mi {
  color: lightpink;
}

/* language keywords */
code span.k,
code span.kn,
code span.kt,
code span.kd {
  color: violet;
}
