body {
  background-color: darkslategray;
  margin: 0;
  min-height: 80vh;
}

section {
  width: min(90vw, 40em);
  min-height: calc(100vh - 9em);
  margin: auto;
  margin-top: 5em;
  padding: 2em;
  background-color: white;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: cadetblue;
  position: fixed;
  width: 100vw;
  justify-content: center;
  top: 0;
}

a {
  color: darkcyan;
  text-decoration: none;
}

a:visited {
  color: darkslategray;
  text-decoration: none;
}

a:hover {
  color: darkslateblue;
  text-decoration: underline;
}

nav :first-child {
  margin-right: 20vw;
}

nav a {
  background-color: lightcyan;
  color: darkcyan;
  border: solid darkcyan;
  border-radius: 0.5em;
  padding: 0.4em;
  border-width: 0 0.1em 0.1em 0;
  margin: 0.5em 0.6em 0.6em 0.5em;
  text-decoration: none;
}

nav a:hover {
  background-color: aliceblue;
}

nav a:active {
  border-width: 0.1em 0 0 0.1em;
  margin-top: 0.6em;
  margin-bottom: 0.5em;
  margin-left: 0.6em;
}
