* {
  letter-spacing: inherit;
  word-spacing: inherit;
}

body {
  background-color: darkslategray;
  margin: 0;
  min-height: 80vh;
}

section {
  width: calc(min(90vw, 40em) - 4em);
  min-height: calc(100vh - 14em);
  margin: auto;
  margin-top: 5em;
  margin-bottom: 5em;
  padding: 2em;
  background-color: white;
}

.center {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: cadetblue;
  position: fixed;
  width: 100vw;
  justify-content: center;
  top: 0;
}

a {
  color: darkcyan;
}

a:visited {
  color: darkslategray;
}

a:hover {
  color: darkslateblue;
  text-decoration: none;
}

nav :first-child {
  margin-right: max(0.6em, calc(70vw - min(100vw, 20em) + 3.2em));
}

nav .button {
  width: calc(min(20vw, 5em) - 0.8em);
  text-align: center;
}

.button {
  background-color: lightcyan;
  color: darkcyan;
  border: solid darkcyan;
  border-radius: 0.5em;
  padding: 0.4em;
  border-width: 0 0.1em 0.1em 0;
  margin: 0.5em 0.6em 0.6em 0.5em;
  text-decoration: none;
}

.button.dark {
  background-color: darkcyan;
  color: aliceblue;
  border-color: black;
}

.button:hover {
  background-color: aliceblue;
}

.button.dark:hover {
  background-color: cadetblue;
}

.button:active {
  border-width: 0.1em 0 0 0.1em;
  margin-bottom: 0.6em;
  margin-top: 0.5em;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  color: darkcyan;
  font-size: 2em;
}

h1 + a {
  text-align: center;
  display: block;
  font-style: italic;
}

select {
  padding: 0.4em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

select:hover {
  border-color: #888;
  background-color: #f1f1f1;
}

select option {
  background-color: #ffffff;
  color: #333;
  padding: 0.4em;
}

select option:hover {
  background-color: #ddd;
}

input[type="text"] {
  padding: 0.4em 0.6em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="text"]:hover {
  border-color: #888;
  background-color: #f1f1f1;
}

footer {
  margin-top: 2em;
  text-align: center;
  font-size: 0.75em;
}
