table {
  margin: auto;
}

th {
  width: 2em;
  height: 2em;
  margin: 1em;
  background-color: darkgray;
  border-radius: 4px;
  border: 2px solid;
}

th.unknown {
  border-bottom-color: darkslategray;
  border-right-color: darkslategray;
  border-top-color: lightgray;
  border-left-color: lightgray;
}

th.unknown:hover {
  background-color: lightgray;
  border-bottom-color: darkgray;
  border-right-color: darkgray;
  border-top-color: white;
  border-left-color: white;
}

th.empty {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

th.flag {
  background-color: brown;
}

th.n1 {
  color: cornflowerblue;
}

th.n2 {
  color: darkgreen;
}

th.n3 {
  color: darkred;
}

th.n4 {
  color: darkviolet;
}

th.n5 {
}

th.n6 {
  color: darkcyan;
}

th.n7 {
}

th.n8 {
}
